body
{
    background: gray;
}
.navbar a
{
    color: white;
}
.nav-top li a:hover
{
    background: orange;
}

.navbar-custom
{
    font-family: 'Coiny', cursive;

    position: absolute;
    top: 0;

    width: 100%;
}

header
{
    font-family: 'Coiny', cursive;

    height: 450px;
    padding: 160px 50px;

    color: white;
    background: url(https://i.imgur.com/GATlTRS.jpg);
    background-size: cover;
}

.navbar-header a
{
    font-size: 35px;
}
.col-md-8
{
    font-family: 'Josefin Sans', sans-serif;

    background: #d3dbe8;
}
header h1
{
    font-size: 40px;
}

#posts
{
    border-bottom: 1px solid gray;
}
#posts a
{
    color: #1b4589;
}
#posts a:hover
{
    text-decoration: none;

    color: orange;
}
.down-btn
{
    padding: 50px 0;
}
.btn
{
    border-radius: 0;
}

.btn-default:hover
{
    color: white;
    border: 0;
    background: #337ab7;
}

.navbar-bot
{
    display: table;
    float: none;

    margin: 0 auto;

    table-layout: fixed;

    background: gray;
}

.navbar-bot li a:hover
{
    color: orange;
    background: gray;
}
.m-col
{
    --webkit-column-count:3;
	--moz-column-count:3;
    column-count: 3;
}
#about
{
    font-family: 'Coiny', cursive;

    color: white;
}
#submit
{
    color: black;
    background: orange;
}
#submit:hover
{
    color: white;
    border: 0;
    background: #337ab7;
}
